{% extends 'main.html' %}

{% block content %}

{% load static %}

{% load bootstrap_icons %}


<style>
  .text {
    color: aliceblue;
  }
</style>
<!-- contents here -->

<main id="main">

  <!-- ======= Intro Single ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h3 class="fw-bold">All Properties Listings</h3>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Listings
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section><!-- End Intro Single-->

  <!-- ======= Property Grid ======= -->
  <section class="property-grid grid">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          
        </div>
        <div class="col-sm-4">
          <div class="grid-option">
            <form>
              <div>
                <input class="form-control text-dark" type="text" name="q" placeholder="Search Property here" style="max-width: 100%; width: 100%;">              </div>
            </form>
          </div>          
        </div>
        <div class="col-sm-4">
          
        </div>

        {% for property in properties %}
        <div class="col-md-4">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="{{property.houseimage1.url}}" alt="" height="350" width="100%">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h4 class="text-light">
                    <a class="text" href="{% url 'property' property.id %}">{{property.name}}</a>
                  </h4>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">rent | kSH {{property.price}}</span>
                  </div>
                  <a href="{% url 'property' property.id %}" class="link-a">Click here to view
                    <span class="bi bi-chevron-right"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    
                    <li>
                      <h4 class="card-info-title">Beds</h4>
                      <span>{{property.rooms}}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baths</h4>
                      <span>{{property.baths}}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Garages</h4>
                      <span>{{property.garages}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
     
      </div>
      
    </div>
  </section><!-- End Property Grid Single-->

</main><!-- End #main -->

{% endblock %}